body {
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}
h1{
    font-family: MADE;
    font-size: 50px;
}
p{
    text-align: center;
    font-size: 20px;
}
@font-face {
    font-family: MADE;
    src: url(fuentes/MADEMountain-Regular.otf);
}
header {
    background-color: black;
    padding: 10px;
    text-align: center;
    color: white;
}
nav {
    text-align: center;
    margin-top: 10px;
}
nav a {
    text-decoration: none;
    color: black;
    padding: 10px 20px;
    margin: 0 5px;
    border-radius: 5px;
    background-color: #fff;
}
nav a:hover{
    background-color: #ddd;
}
section{
    padding: 25px;
}
h2{
    color: red;
    text-align: center;
    font-size: 40px;
}
#men1 {
    width: 90%;
    margin: auto;
    padding: 30px;
    display: grid;
    grid-template-columns: auto auto auto auto;
    column-gap: 30px;
    row-gap: 100px;
}
.caja{
    text-align: center;
    line-height: 380px;
}
footer{
    background-color: black;
}
.iconos{
    display: flex;
    justify-content: center;
}
.iconos a{
    text-decoration: none;
    padding: 10px;
    background-color: white;
    margin: 10px;
    border-radius: 50%;
}
.iconos a i{
    font-size: 2em;
    color: black;
}
.iconos a:hover{
    background-color: #111;
    transition: 0.5s;
}
.deque{
    margin: 30px 0;
}
.deque ul{
    display: flex;
    justify-content: center;
    list-style-type: none;
}
.deque ul li a{
    color: white;
    margin: 20px;
    text-decoration: none;
    font-size: 1.3m;
    opacity: 0.7;
    transition: 0.5s;
}
.deque ul li a:hover{
    opacity: 1;
}
.bottom{
    background-color: #000;
    padding: 20px;
    text-align: center;
}
.bottom p{
    color: white;
}
img{
    width: 200px;
}
.caja1 img{
    width: 250px;
}
.caja9 img{
    padding-top: 80px;
}
.caja5 img{
    padding-top: 50px;
}
.caja12 img{
    padding-top: 70px;
    width: 250px;
}
#men1 a :hover{
    transform: scale(1.25);
}